* {
  box-sizing: border-box;
  margin: 0;
}

.mainTable {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 70vw;
  height: 10vh;
  th,
  td,
  table {
    border: 1px solid blue;
  }
}
